<!DOCTYPE html>
<html ng-app="directiveWorkshop">
<head>
	<title>My Directives</title>
</head>
<body ng-controller="mainCtrl">

<div>
<h2>pending</h2>
	<form>
		<input ng-model="query" placeholder="Search"/>
		<button class="btn btn-primary" pending request="getSongData()">Submit</button> 
        <img class='loading' src="loading_gif_by_turnoffthetv-d53zh04.gif" style="height: 100px" hidden='true'>
	</form>
  <div ng-repeat='info in data'>{{info.artistName}}</div>
</div>

<div>
<h2>Notifications</h2>
	<form>
		<input ng-model='scopeTitle' placeholder="title"/>
		<input ng-model='scopeBody' placeholder="body"/>
		<input ng-model='scopeIcon' placeholder="iconUrl"/>
		<button notify request="" title='scopeTitle' body='scopeBody' icon='scopeIcon'>Submit</button> 
	</form>
</div>

<scripts>
	<script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="bower_components/angular/angular.js"></script>
	<script type="text/javascript" src="mainCtrl.js"></script>
	<script type="text/javascript" src="mainService.js"></script>
	<script type="text/javascript" src="myDirectives.js"></script>
</scripts>

</body>
</html>